*{
    font-family: 'Mooli', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.vertical-line {
    position: relative;
}

.vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ccc; /* Adjust the border properties as needed */
    transform: translateX(-50%);
}
/* Style for the profile picture */
.profile-picture {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.form-container {
    background-color: #fff; /* Milky White Background for Form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-title {
    text-align: center;
    font-weight: bold; /* Bold Text */
    color: #0000ff; /* Blue Text Color */
}
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
